@import url("Root.css");

.root{
  -fx-border-radius: 10;
  -fx-background-radius: 10;
}

.navBar{
  -fx-border-radius: 10;
  -fx-background-radius: 10;
}

.navBar > HBox > Button{
  -fx-background-color: transparent;
}

.navBar > HBox{
  -fx-background-color:  #569698;
  -fx-background-radius: 5;
  -fx-border-radius: 5;
}

.navBtn{
  -fx-background-color:  #569698;
  -fx-background-radius: 5;
  -fx-border-radius: 5;
}

.onFocus{
  -fx-background-color:  #3f6768;
}

.grayBar{
  -fx-background-color: rgba(88, 107, 108, 0.5);
}

.navBar > HBox > Label{
  -fx-font-family: "Montserrat Medium";
  -fx-text-fill: #F2F2F2;
  -fx-font-size: 16px;
}

.mainBlock{
  -fx-border-radius: 0 10 10 0;
  -fx-background-radius: 0 10 10 0;
  -fx-background-color: #E4E4E4;
}

.exitBtn{
  -fx-background-color: #E4E4E4;
  -fx-border-radius: 0 10 0 0;
  -fx-background-radius: 0 10 0 0;
}

.minBtn{
  -fx-background-color: #E4E4E4;
}

.startup{
  -fx-background-color:  #569698;
  -fx-border-radius: 10;
  -fx-background-radius: 10;
}