.product{
  -fx-background-color: transparent;
  -fx-background-radius: 10 10 0 0;
  -fx-border-radius: 10 10 0 0;
}

.productSearchBar{
  -fx-background-color: #F7F7F7;
  -fx-background-radius: 15;
  -fx-border-radius: 15;
}

.choiceText{
  -fx-font-family: "Montserrat Bold";
  -fx-font-size: 24px;
  -fx-text-fill: #3E6D6E;
  -fx-background-color: #F7F7F7;
  -fx-background-radius: 8;
  -fx-border-radius: 8;
}

.choiceBox{
  -fx-background-color: #F7F7F7;
  -fx-background-radius: 10;
  -fx-border-radius: 10;
}

.productGrayPane{
  -fx-background-color: rgba(88, 107, 108, 0.5);
  -fx-background-radius: 10 10 0 0;
  -fx-border-radius: 10 10 0 0;
}

.choiceTextOnHover{
  -fx-background-color: #a9a9a9 !important;
}

.detailBlock{
  -fx-background-radius: 25 0 0 0;
  -fx-border-radius: 25 0 0 0;
}