.product{
  -fx-background-color: transparent;
}

.leftProfile{
  -fx-background-radius: 20 20 0 0;
  -fx-border-radius: 20 20 0 0;
  -fx-background-color: #F1F1F1;
}

.rightProfile{
  -fx-background-radius:0 20 0 0;
  -fx-border-radius:0 20 0 0;
  -fx-background-color: #F1F1F1;
}

.portfolioVBox > HBox > TextField{
  -fx-background-color: transparent;
  -fx-focus-color: transparent;
  -fx-background-radius:6;
  -fx-border-radius:6;
}

.portfolioVBox{
  -fx-background-color: #F1F1F1;
  -fx-font-family: "Montserrat Medium";
}

.portfolioVBox > Label{
  -fx-font-size:24;
}

.changePassBlock{
  -fx-background-radius:15;
  -fx-border-radius:15;
  -fx-background-color: #F1F1F1;
  
}

.portfolioVBox > HBox > TextField,
.portfolioVBox > HBox > Label{
  -fx-font-size:19;
}

.btnZone > Button{
  -fx-background-color: #D9D9D9;
}

.edit{
  -fx-background-color: #D9D9D9;
}