@import url(Root.css);

.reward{
  -fx-background-color: transparent;
}

.reward > VBox {
  -fx-background-radius: 10 10 0 0;
  -fx-border-radius: 10 10 0 0;
  -fx-background-color: #f1f1f1;
}

.manageSearchBar{
  -fx-background-color: #d7d7d7;
  -fx-background-radius: 20;
  -fx-border-radius: 20;
  -fx-prompt-text-fill: #333;
}

.addBtn{
  -fx-background-color: #3E6D6E;
  -fx-background-radius: 20;
  -fx-border-radius: 20;
  -fx-text-fill: #F7f7f7;
  -fx-font-family: "Montserrat Bold";
  -fx-font-size: 18px;
}

.addLabel{
  -fx-font-family: "Montserrat Medium";
  -fx-font-size: 18px;
}
.addLabelSmall{
  -fx-font-size: 16px;
}

.addLabelSmaller{
  -fx-font-size: 12px;
}

.addLabelBig{
  -fx-font-size: 24px;
}

.center-align{
  -fx-alignment: CENTER;
}

.editTableBtn{
  -fx-background-color: transparent;
}

TableView{
  -fx-font-family: "Montserrat Medium";
  -fx-font-size: 16px;
  -fx-border-width: 0;
  -fx-background-insets:0;
  -fx-padding:0;
}

TableView .table-row-cell{
  -fx-padding: 2 0 2 0;
}

.table-view .column-header-background .filler {
  -fx-background-color: transparent;
}

.table-view .corner {
  -fx-background-color: transparent;
}

.table-view .column-header-background{
  -fx-background-color: #A5A5A5;
}

/* .table-view .scroll-bar * {
  -fx-min-width: 0;
  -fx-pref-width: 0;
  -fx-max-width: 0;

  -fx-min-height: 0;
  -fx-pref-height: 0;
  -fx-max-height: 0;
} */

.hovered-btn{
  -fx-text-fill: #0045F2 !important; 
}

.btn{
  -fx-background-color: #d9d9d9;
  -fx-background-radius: 5;
  -fx-border-radius: 5;
}

.btnOnFocus{
  -fx-background-color: #bbb;
}

.delBtn{
  -fx-background-color: #ff4949 !important;
  -fx-text-fill: #efefef;
}

.saveBtn{
  -fx-background-color: #1e999b !important;
  -fx-text-fill: #efefef;
}

.textDisabled{
  -fx-background-color: #f9f9f9 !important;
}