.transaction{
  -fx-background-color: transparent;
}

.transVB{
  -fx-background-radius: 10 10 0 0;
  -fx-border-radius: 10 10 0 0;
  -fx-background-color: #f1f1f1;
}

.addBtn{
  -fx-background-color: #3E6D6E;
  -fx-background-radius: 20;
  -fx-border-radius: 20;
  -fx-text-fill: #F7f7f7;
  -fx-font-family: "Montserrat Bold";
  -fx-font-size: 18px;
}

.nameLabel{
  -fx-font-family:"Montserrat Bold";
  -fx-font-size: 26;
}

.idLabel{
  -fx-font-family:"Montserrat Medium";
  -fx-font-size: 20;
}

.pnlLabel{
  -fx-font-family:"Montserrat Medium";
  -fx-font-size: 32;
}

.addLabel{
  -fx-font-family: "Montserrat Medium";
}

.detailsVB{
  -fx-background-color: #d9d9d9;
  -fx-background-radius: 20 20 0 0;
  -fx-border-radius: 20 20 0 0;
}

.lb1{
  -fx-font-family:"Montserrat Medium";
  -fx-font-size: 32;
}

.lb2{
  -fx-font-family:"Montserrat Medium";
  -fx-font-size: 32;
}

.l{
  -fx-font-family:"Montserrat Medium";
  -fx-font-size: 26;
}
